.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    border: 1px solid white;
    float:right;
}
#start,#status{
    font-size: 20px;
}
.modal-dialog{
    width:90%;
}
img{
    width:600px;
}

.copy-right-footer{
    line-height: 2;
    bottom: -10px;
    background-color: hotpink;
    position: fixed;
    color:brown;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

canvas{
    border-radius: 50px;
    box-shadow: 20px 20px 50px blue;
    border-style: groove;
}
